################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/win32_api_project0715/.vs/Win32API_Project/v17/Browse.VC.opendb
